[user]
  name = Shantanu Raj
  email = s@sraj.me
  signingkey = ~/.ssh/id_git.pub
[pull]
  rebase = true
[fetch]
  prune = true
[core]
  excludesfile = ~/.gitignore
  editor = nvim
[color]
  ui = auto
[init]
  defaultBranch = main
[branch]
  autosetuprebase = always
  autosetupmerge = always
[alias]
  locate = rev-list -n 1 HEAD --
  revname = name-rev --name-only
[diff]
  renames = copies
  noprefix = true
  wordRegex = [^[:space:]]
  compactionHeuristic = true
  algorithm = patience
  relative = true
[merge]
  tool = nvim -d
[mergetool]
  keepBackup = false
[rebase]
  autosquash = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[gpg]
  format = ssh
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[gpg "ssh"]
  allowedSignersFile = ~/.dotfiles/.config/git/authorized_signers
[rerere]
  enabled = true
